:root {
    --side-bar-height: calc(100vh - 32px);
    --side-bar-width: 70px;
    --side-bar-color: #2C2F31;
    --primary-color: #fff5a1;
    --accent-color: #91c8ff;
}

* { 
    padding: 0;
    margin: 0;
}

#app-body {
    background-color: var(--side-bar-color);
    font-family: Arial, Helvetica, sans-serif;
}
 

#container {
    height: var(--side-bar-height);
    width: calc(100% - var(--side-bar-width));
    background-color: #35383B;
    display: inline-block;
    border-radius:10px 0 0 10px;
    margin-left: 70px;
    position: fixed; 
    padding: 1rem;
}

#side-bar {
    width: var(--side-bar-width);
    height: var(--side-bar-height);
    background-color:  var(--side-bar-color);
    display: inline-block;
    position: fixed;
} 

#title-bar {
    height: 32px;
    background-color: #222629;
    -webkit-app-region:drag;
    -webkit-app-region:selectable;
}

.server-button {
    border-radius: 30px;
    background-color: #35383B;
    height: 50px;
    width: 50px; 
    border: none;
    text-align: center;
    color: white;
    display: block;
    margin: 10px; 
    transition: all .2s;
    font-weight: bold;
}

.server-button:hover {
    color: black;
    background-color: var(--primary-color);
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black)
}

.new-server-button {
    border-radius: 30px;
    background-color: var(--accent-color);
    height: 50px;
    width: 50px;
    border: none;
    text-align: center; 
    display: block;
    margin: 10px;
    font-weight:bold;
    transition: all .2s;
}
.new-server-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black)
}

